$medium: 1500px;
$tablet : 1000px;
$mobile : 600px;

.slide {
    background-color: white;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;

    .infos {
        position: absolute;
        right: 17%;
        // top: 0;
        // bottom: 0;
        // margin: auto;
        // height: fit-content;
        display: flex;
        flex-flow: column;
        justify-content: center;
        height: 100%;

        width: 28%;
        img {
            width: 100%;
            margin-bottom: 60px;
            height: auto;
        }
        @media (max-width: $tablet) {
            right: unset;
            left: 15%;
            width: 68%;
            img {
                margin-bottom: 44px;
                padding: 0 14%;
            }
            @media only screen and (orientation: landscape) and (max-height: "500px") {
                img {
                    margin-bottom: 0px !important;
                    padding: 0 30% !important;
                }
            }
        }
        @media (max-width: $mobile) {
            left: 7%;
            width: 82%;
            img {
                margin-bottom: 44px;
                padding: 0 3%;
            }
            // @media only screen and (orientation: landscape) {
            //     img {
            //         display: none;
            //     }
            // }
        }
    }

    .subtitle {
        font-family: Lato;
        font-size: 21px;
        line-height: 36px;
        font-weight: 400;
        // padding: 0 9px;
        width: 100%;
        color: #525252;
        margin-bottom: 14px;
        b {
            font-weight: 700;
        }
        @media (max-width: $medium) {
            font-size: 18px;
            line-height: 28px;
        }
        @media (max-width: $tablet) {
            font-size: 17px;
            line-height: 28px;
            margin-bottom: 18px;

            @media only screen and (orientation: landscape) {
                margin-bottom: 10px;
            }
        }
        // @media(max-width: $mobile) {
        //     font-size: 17px;
        //     line-height: 28px;
        //     margin-bottom: 18px;
        // }
    }

    .dateContainer {
        display: flex;
        align-items: center;
        margin-bottom: 4px;
        color: #b7b7b7;
        svg {
            width: 16px;
        }
        p {
            font-family: 'Lato';
            font-weight: 900;
            margin-left: 7px;
            font-size: 14px;
        }
        @media(max-width: $tablet) {
            margin-bottom: 8px
        }
    }


    .buttonContainer {
        display: flex;
        justify-content: flex-end;
    }
    .button {
        display: flex;
        justify-content: center;
        width: fit-content;
        padding: 12px 17px;
        border-radius: 11px;
        border: 1px #cecece solid;
        color: #b7b7b7;
        background-color: white;
        box-shadow: 0 1px 6px #00000029;
        transition: all .1s ease-in-out;
        p {
            font-family: Source Sans Pro;
            font-weight: 900;
            font-size: 20px;
            margin-right: 18px;
        }
        svg {
            width: 11px;
        }
        &:hover {
            transform: scale(1.05);
        }
        
        @media (max-width: $medium) {
            padding: 11px 15px;
            svg {
                width: 10px;
            }
            p {
                font-size: 18px;
                margin-right: 16px;
            }
        }
        @media (max-width: $tablet) {
            padding: 10px 12px;
            margin-right: 2%;
            svg {
                width: 8px;
            }
            p {
                font-size: 16px;
                margin-right: 16px;
            }
        }
    }


    .phone {
        position: absolute;
        width: 10%;
        bottom: 0;
        top: 0;
        left: 39%;
        /* margin-top: 47px; */
        padding-top: 13%;
        margin: auto;
        animation: floatAnimation 5s ease-in-out infinite;
        // filter: drop-shadow(0px 12px 18px #00000079);
        @media (max-width: $tablet) {
            display: none;
        }
    }

    .pc {
        position: absolute;
        width: 44%;
        bottom: 0;
        top: 0;
        left: 4%;
        margin: auto;
        animation: floatAnimation 5s ease-in-out infinite -0.5s;
        // filter: drop-shadow(0px 1px 11px #0000008f);
        @media (max-width: $tablet) {
            display: none;
        }
    }

    .bigRound {
        position: absolute;
        // top: 0;
        // bottom: 0;
        left: 0vh; //-969px
        width: auto;
        height: 100vh;
        // clip-path: circle(63% at 46% 50%);
        clip-path: circle(88% at -22% 50%);
        

        @media (max-width: $medium) {
            left: -160px;
        }
        @media (max-width: $tablet) {
            left: -32vh;
            bottom: -61vh;
            clip-path: circle(94% at -28% 61%);
        }
        @media (max-width: $mobile) {
            left: -32vh;
            bottom: -61vh;
            clip-path: circle(94% at -28% 61%);
        }
    }

    .smallRound {
        position: absolute;
        top: -12vh;
        right: 0; //-969px
        width: auto;
        height: 100vh;
        clip-path: circle(44% at 115% 22%);
        @media (max-width: $medium) {
            clip-path: circle(44% at 120% 16%);
        }
        @media (max-width: $tablet) {
            clip-path: circle(40% at 132% 21%);
        }
        @media (max-width: $mobile) {
            clip-path: circle(40% at 132% 21%);
        }
    }

    @keyframes floatAnimation {
        0% { transform: translatey(0px); }
        50% { transform: translatey(-30px); }
        100% { transform: translatey(0px); }
    }
    @media(max-width: "1500px") {
        @keyframes floatAnimation {
            0% { transform: translatey(0px); }
            50% { transform: translatey(-15px); }
            100% { transform: translatey(0px); }
        }
    }

    .tagContainer {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 25px;
        p {
            font-family: Lato;
            font-weight: 700;
            font-size: 17px;
            margin-right: 17px;
            margin-bottom: 10px;
            color: white;
            
            padding: 7px 9px;
            border-radius: 6px;
            background-image: linear-gradient(to bottom, #30B4FF, #0167FF);
        }
        @media (max-width: $medium) {
            p {
                font-size: 15px;
                margin-right: 14px;
            }
        }
        @media (max-width: $tablet) {
            p {
                font-size: 13px;
                margin-right: 13px;
                padding: 7px 10px;;
            }
            @media only screen and (orientation: landscape) {
                margin-bottom: 0;
            }
        }
        @media (max-width: $mobile) {
            p {
                font-size: 12px;
                padding: 6px 6px;
            }
        }
    }
}